:root {
    --lightColour:      #C0DDF5;
    --midColour:        #6FA2E8;
    --darkColour:       #083182;
    --lightHighlight:   #DEBB83;
    --midHighlight:     #9E652F;
    --darkHighlight:    #261305;
    /* note to the editor (me): PAGE MARGIN MUST STAY 1EM (or so) LESS THAN NAV MARGIN !!!!! */
    --navMargin:        13em;
    --pageMargin:       12em;
}

body {
    background-color: var(--lightColour);
    height: 100%;
    color: var(--darkColour);
    font-family: futura;
    font-size: 16px;
    margin: 0;
}

h1, h2 {
    font-family: superFamicomFont, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: inline;
}

h3 {
    font-family: emulogicFont, 'Courier New', Courier, monospace;
    font-size: 20px;
}

.about-img {
    background-image: url("../Resources/Images/img1.png");
}

.code-projects-img {
    background-image: url("../Resources/Images/img2.png");
}

.commissions-img {
    background-image: url("../Resources/Images/img4.png");
}

.overlap-text {
    text-align: center;
    color: var(--darkColour);
}

.overlap-text .border {
    background-color: var(--midColour);
    padding: 1.5em;
}

.parallax {
    min-height: 10em;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;

    background-attachment: fixed;
}

.section {
    text-align: center;
    padding: 2em 2em;
}

.subtitle {
    font-style: italic;
    text-align: center;
    font-size: 12px;
}

.wood-projects-img {
    background-image: url("../Resources/Images/img3.png");
}

#navBar {
    background-color: var(--darkHighlight);
    box-shadow: -1em -1em 2em 1em var(--midColour);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--navMargin);
    z-index: 100;
}

#navBar a {
    color: var(--lightHighlight);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

#page-container {
    margin-left: var(--pageMargin)
}

#topNav {
    display: center;
}

@font-face {
    font-family: emulogicFont;
    src: url("../Fonts/Emulogic-zrEw.ttf");
}

@font-face {
    font-family: superFamicomFont;
    src: url("../Fonts/SuperFamifont-Bgmw.ttf");
}

@font-face {
    font-family: snesFont;
    src: url("../Fonts/SnesItalic-1G9Be.ttf");
}

@font-face {
    font-family: futura;
    src: url("../Fonts/futura\ medium\ bt.ttf");
}