:root {
    --lightColour:      #C0DDF5;
    --midColour:        #6FA2E8;
    --darkColour:       #083182;
    --lightHighlight:   #DEBB83;
    --midHighlight:     #9E652F;
    --darkHighlight:    #261305;
    --navMargin:        15em;
    --pageMargin:       5em;
}

body {
    background-color: var(--lightColour);
    color: var(--darkColour);
    font-family: futura;
    font-size: 16px;
    margin-left: var(--navMargin);
}

h1, h2 {
    font-family: superFamicomFont, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    font-family: emulogicFont, 'Courier New', Courier, monospace;
    font-size: 20px;
}

#navBar {
    background-color: var(--darkHighlight);
    box-shadow: -1em -1em 2em 1em var(--midColour);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--navMargin);
}

#navBar a {
    color: var(--lightHighlight);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

#topNav {
    display: center;
}

#mainPage {
    margin-left: var(--pageMargin);
    margin-right: var(--pageMargin);
}

@font-face {
    font-family: emulogicFont;
    src: url("../Fonts/Emulogic-zrEw.ttf");
}

@font-face {
    font-family: superFamicomFont;
    src: url("../Fonts/SuperFamifont-Bgmw.ttf");
}

@font-face {
    font-family: snesFont;
    src: url("../Fonts/SnesItalic-1G9Be.ttf");
}

@font-face {
    font-family: futura;
    src: url("../Fonts/futura\ medium\ bt.ttf");
}